<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery.js"></script>
    <title>Document</title>
</head>
<body>
<form action="">
<dd>
    <label>用户名</label>
    <input type="text" name="username">
</dd>
<dd>
    <label>密&emsp;码</label>
    <input type="password" name="password">
</dd>
<dd><input type="submit" value="提交"></dd>
</form>
</body>
<script>
    $('form').submit(function(){
        $.ajax({
            type:'post',
            url:"{:url('/admin')}",
            data:$(this).serialize(),
            dataType:'json',
            success:function (data) {
                console.log(data)
            },
            error:function(xhl){
                console.log(xhl)
            }

        });
        return false;
    })
</script>
</html>

